.editDelete{
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-color: #C70000;
    color: #C70000;
    transition: background-color 200ms;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    /* margin-bottom: 10px; */
}

.editDelete:hover{
    background-color: #dbb9b9;
}

.otherEditAndDelete{
    cursor: pointer;
    font-size: 25px;
    color: #990404;
}


.editInput{
    font-family: 'Urbanist', sans-serif;
    width: 90%;
    resize: none;
    border: 2px solid rgb(168, 165, 165);
}

.submitCancel{
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-color: #C70000;
    color: #C70000;
    transition: background-color 200ms;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

.submitCancel:hover{
    background-color: #dbb9b9;
}
