.panelsContainer{
    display: flex;
    height: 500px;
    width: 100%;
    /* position: relative;
    right: 8px;
    bottom: 8px; */
    justify-content: center;
    align-items: center;
    /* background-color: #7a0505; */
    /* background-color: #9A9A9A; */
    background-color: black;
}

.panel {
    width: 17%;
    height: 90%;
    background-position: center;
    /* border-radius: 10px; */
    padding: 5px 5px 5px 5px;
    margin: 5px 1% 5px 1%;
    /* float: left;
    position: relative; */
    transition: width 1000ms, color 800ms;
    text-align: left;
    overflow: hidden;
    text-decoration: none;
    color: transparent;
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    border-radius: 10px;

}

.panel:hover{
    width:100%;
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #C70000;;
    letter-spacing: 2px;
}

.panelSong{

}

.trendingArtists{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 80px;
    /* padding: 5px; */
    /* margin-top: 20px; */
    font-family: 'Urbanist', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;

}
