.trendingArtists {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}
.panelsContainer {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.panel {
  width: 17%;
  height: 90%;
  background-position: center;
  padding: 5px 5px 5px 5px;
  margin: 5px 1% 5px 1%;
  transition: width 1000ms, color 800ms;
  text-align: left;
  overflow: hidden;
  text-decoration: none;
  color: transparent;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

.panel:hover {
  width: 100%;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #c70000;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .trendingArtists {
    font-size: 80px;
  }

  .panelsContainer {
    height: 500px;
  }

  .panel {
    font-size: 40px;
  }

  .panel:hover {
    font-size: 40px;
  }
}
