.header{
    display: flex;
    height: 38px;
    width: 100%;
    background: black;
    /* position: relative;
    right: 8px;
    bottom: 8px; */
    justify-content: space-evenly;
    align-items: center;


    font-size: 15px;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    color: white;
}

.link{
    color: white;
    text-decoration: none;
    padding-top: 20px;
}
