.header{
    display: flex;
    height: 38px;
    width: 102%;
    background: black;
    position: relative;
    right: 8px;
    bottom: 8px;
    justify-content: space-around;
    align-items: center;


    font-size: 15px;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
    right: 20px;
}
