.annotated{
    background-color: grey;
}

.annoDiv{
    /* z-index: 1; */
    position:absolute;
    top: 50vh;
    right: 28vw;
    background-color: transparent;
    overflow:auto;
    width: 210px;
    height: 100%;
    padding-left: 20px;
    border-left: 2px solid red;
    display: flex;
    flex-direction: column;
}

.inAnnoDiv{
    /* position: sticky;
    top: 0;
    left: 0; */

}
