.annotated{
    background-color: grey;
}

.annoDiv{
    /* z-index: 1; */
    position:fixed;
    top: 50vh;
    right: 26vw;
    background-color: transparent;
    overflow:hidden;
    width: 210px;
    height: 25%;
    padding-left: 20px;
    border-left: 2px solid red;
    display: flex;
    flex-direction: column;
}

.inAnnoDiv{
    /* position: sticky;
    top: 0;
    left: 0; */

}

.close{
    font-family: 'Urbanist', sans-serif;
    background-color: transparent;
    border-color: #C70000;
    color: #C70000;
    transition: background-color 200ms;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

.close:hover{
    background-color: #dbb9b9;

}
